<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<InitializationScript>
		<![CDATA[
        CurrentVersion := GetSetting("NodeJS.Version", "");
        DesiredVersion := "24.11.1";

        if CurrentVersion != DesiredVersion then
        (
            LogInformational("Installing NodeJs");
            SetSetting("NodeJS.Version", "");
            SetSetting("NodeJS.Executable.Path", "");

            WorkDir:=Gateway.AppDataFolder + "packages\\";
            InstallScript:= "& '" + Gateway.AppDataFolder + "Root\\NodeJs\\WinInstall.ps1" + "'";

            Args:=InstallScript + " -DesiredVersion " + DesiredVersion + " -WorkDir '" + WorkDir + "'";
            LogInformational(Args);
            ShellExecute("powershell.exe", Args, WorkDir);

            SetSetting("NodeJS.Version", DesiredVersion);
            SetSetting("NodeJS.Executable.Path", WorkDir + "nodejs\\node.exe");
            LogInformational("NodeJs Installed Successfully");
        );
		]]>
	</InitializationScript>
    <StartupScript>
		<![CDATA[
		ConfigurationPage("Node JS","/NodeJs/Settings.md");
        ]]>
	</StartupScript>
</ServiceConfiguration>